@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-Thin.woff2') format('woff2'),
       url('/fonts/TTNorms-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-ThinItalic.woff2') format('woff2'),
       url('/fonts/TTNorms-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-Light.woff2') format('woff2'),
       url('/fonts/TTNorms-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-LightItalic.woff2') format('woff2'),
       url('/fonts/TTNorms-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-Regular2.woff2') format('woff2'),
       url('/fonts/TTNorms-Regular2.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-Italic.woff2') format('woff2'),
       url('/fonts/TTNorms-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-Medium2.woff2') format('woff2'),
       url('/fonts/TTNorms-Medium2.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-MediumItalic.woff2') format('woff2'),
       url('/fonts/TTNorms-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-Bold2.woff2') format('woff2'),
       url('/fonts/TTNorms-Bold2.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-BoldItalic.woff2') format('woff2'),
       url('/fonts/TTNorms-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-ExtraBold.woff2') format('woff2'),
       url('/fonts/TTNorms-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-ExtraBoldItalic.woff2') format('woff2'),
       url('/fonts/TTNorms-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-Heavy2.woff2') format('woff2'),
       url('/fonts/TTNorms-Heavy2.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-HeavyItalic.woff2') format('woff2'),
       url('/fonts/TTNorms-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-Black2.woff2') format('woff2'),
       url('/fonts/TTNorms-Black2.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TTNorms2';
  src: url('/fonts/TTNorms-BlackItalic.woff2') format('woff2'),
       url('/fonts/TTNorms-BlackItalic.woff') format('woff');
  font-weight: 1000;
  font-style: italic;
  font-display: auto;
}
