@font-face {
  font-family: 'Product Sans';
  src: url('./ProductSans-Light.woff2') format('woff2'),
       url('./ProductSans-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./ProductSans-Regular.woff2') format('woff2'),
       url('./ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./ProductSans-Italic.woff2') format('woff2'),
       url('./ProductSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./ProductSans-Medium.woff2') format('woff2'),
       url('./ProductSans-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./ProductSans-Bold.woff2') format('woff2'),
       url('./ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./ProductSans-Bold-Italic.woff2') format('woff2'),
       url('./ProductSans-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('./ProductSans-Black.woff2') format('woff2'),
       url('./ProductSans-Black.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}