@import 'variables';

.terminal {
  position: relative;
  background: rgba(#262626, 0.85);
  width: 65vw;
  height: 50vh;
  max-width: 750px;
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(#000, 0.5);
  margin: 5vh auto;
  .window-title {
    background: linear-gradient(to bottom, #ccc 10%, #999);
    height: 7%;
    text-align: center;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 1px 8px;
    .win-buttons {
      position: absolute;
      display: inline-flex;
      flex-direction: row;
      width: 10%;
      top: -0.25%;
      left: 0.5%;
      justify-content: space-between;
      margin: 0;
      margin-left: 0.5em;
    }
    // .term-button {
      // display: inline-block;
      // text-align: center;
      // width: 12px;
      // height: 12px;
      // border: 0.5px solid;
      // border-radius: 100px;
      // vertical-align: middle;
      // margin: 0.45vw 0.55vw;
      // margin-left: 0;
    // }
    // #close {
    //   background: #e25544;
    //   border-color: #d84b3a;
    // }
    // #min {
    //   background: #f5b640;
    //   border-color: #e0a12b;
    // }
    // #max {
    //   background: #7cb058;
    //   border-color: #6fa44b;
    // }
  }
  .caret {
    color: #50cd70;
  }
}

.message {
  .typed-cursor {
    color: rgba(#fff, 0.9);
  }
}
