// Variables

/* Sizes */
$card-height:  53vh;

/* Colors */
$bg-color:    #161719;
$text-color:  rgba(#fff, 0.8);
$accent:      #F2433B;

// Cubes
$cube-red:         #EF4C45;
$cube-orange:      #EB9D5C;
$cube-green:       #00B29A;
$cube-blue:        #4F72B8;
$cube-purple:      #A065AA;

// Categories
$cat-red:          #d83737;
$cat-orange:       #ed5820;
$cat-yellow:       #f9bd2d;
$cat-green:        #2aa05a;
$cat-teal:         #00897b;
$cat-light-blue:   #00b8d4;
$cat-blue:         #039be5;
$cat-light-purple: #7d77b3;
$cat-purple:       #663399;
$cat-pink:         #e23f7e;
