@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
       url('../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Italic.woff2') format('woff2'),
       url('../fonts/ProductSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Bold.woff2') format('woff2'),
       url('../fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Bold-Italic.woff2') format('woff2'),
       url('../fonts/ProductSans-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}