@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Thin.woff2') format('woff2'),
       url('../fonts/TTNorms-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-ThinItalic.woff2') format('woff2'),
       url('../fonts/TTNorms-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Light.woff2') format('woff2'),
       url('../fonts/TTNorms-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-LightItalic.woff2') format('woff2'),
       url('../fonts/TTNorms-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Regular.woff2') format('woff2'),
       url('../fonts/TTNorms-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Italic.woff2') format('woff2'),
       url('../fonts/TTNorms-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Medium.woff2') format('woff2'),
       url('../fonts/TTNorms-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-MediumItalic.woff2') format('woff2'),
       url('../fonts/TTNorms-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Bold.woff2') format('woff2'),
       url('../fonts/TTNorms-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-BoldItalic.woff2') format('woff2'),
       url('../fonts/TTNorms-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-ExtraBold.woff2') format('woff2'),
       url('../fonts/TTNorms-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-ExtraBoldItalic.woff2') format('woff2'),
       url('../fonts/TTNorms-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Heavy.woff2') format('woff2'),
       url('../fonts/TTNorms-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-HeavyItalic.woff2') format('woff2'),
       url('../fonts/TTNorms-HeavyItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Black.woff2') format('woff2'),
       url('../fonts/TTNorms-Black.woff') format('woff');
  font-weight: 1000;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-BlackItalic.woff2') format('woff2'),
       url('../fonts/TTNorms-BlackItalic.woff') format('woff');
  font-weight: 1000;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Regular.woff2') format('woff2'),
       url('../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Italic.woff2') format('woff2'),
       url('../fonts/ProductSans-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Bold.woff2') format('woff2'),
       url('../fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Bold-Italic.woff2') format('woff2'),
       url('../fonts/ProductSans-Bold-Italic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: auto;
}
