
$accent: #FD5750;
$card-height: 53vh;

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Regular.otf') format('otf'),
    url('../fonts/ProductSans-Regular.ttf') format('ttf'),
    url('../fonts/ProductSans-Regular.eot') format('eot'),
    url('../fonts/ProductSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../fonts/ProductSans-Bold.otf') format('otf'),
    url('../fonts/ProductSans-Bold.ttf') format('ttf'),
    url('../fonts/ProductSans-Bold.eot') format('eot'),
    url('../fonts/ProductSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  font-family: 'Product Sans', 'Titillium', 'Open Sans', sans-serif !important;
  margin: 0;
}

.hero {
  top: 0;
}

.accent {
  color: #F05750;
  font-size: 1.1em;
  line-height: 0.7;
}

.accent-text {
  color: $accent;
}

/* Menu */
.menu-wrapper {
  background: transparent;
  .menu {
    position: relative;
    background: transparent;
    color: #fff;
    font-family: 'Nunito', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    width: 100%;
    text-align: right;
    list-style: none;
    margin-top: 1.5em;
    margin-bottom: 0;
    z-index: 999999;
    .menu-item {
      display: inline-block;
      font-size: 1.2em;
      transition: all 300ms ease-in-out;
      padding: 0 0.85rem;
      cursor: pointer;
      z-index: 999999;
      a {
        color: rgba(#fff, 0.8);
        text-decoration: none;
        border: none;
        &:hover {
          color: $accent;
        }
      }
      &.active a {
        color: $accent;
      }
      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.header {
  height: 40vh !important;
}

.light-bg {
  background: rgba(#fff, 0.975);
  height: auto !important;
  padding-top: 4rem; 
  padding-bottom: 14rem;
  z-index: 1 !important;
}


/* Title Cubes */
.cube {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  left: -10px;
  top: 10px;
  transform-style: preserve-3D;
  animation: flipY 5.2s infinite;
  backface-visibility: hidden;
  .cube-side {
    position: absolute;
    background: rgba(#000, 0.1);
    width: 100%;
    height: 100%;
    transform: rotatex(90deg) translate3d(0, 0, 15px);
    transform-style: preserve-3D;
    border-image: linear-gradient(to top, #EF4C45, #EB9D5C) 1 3%;
    border: 2px solid #EF4C45;
    border-top-color: #EB9D5C;
    backface-visibility: hidden;
    &.cube-side-top {
      border-top-width: 4px;
      border-right-width: 4px;
      animation: border-top 5.2s infinite;
      animation-fill-mode: forwards;
      border-image: none;
      border-color: #EB9D5C;
    }
    &.cube-side-bottom {
      background: transparent;
      border-image: none;
      border-color: #EB9D5C;
    }
    &.cube-side-left {
      border-left-width: 4px;
      border-bottom-width: 4px;
      animation: border-left 5.2s infinite;
      animation-fill-mode: forwards;
      border-image: linear-gradient(to top, #EF4C45, #EB9D5C) 1 3%;
      transform: rotateY(-90deg) translate3d(0, 0, 15px);
    }
    &.cube-side-right {
      border-image: linear-gradient(to top, #EF4C45, #EB9D5C) 1 3%;
      transform: rotateY(90deg) translate3d(0, 0, 15px);
    }
    &.cube-side-front {
      border-right-width: 4px;
      border-bottom-width: 4px;
      border-image: linear-gradient(to top, #EF4C45, #EB9D5C) 1 3%;
      animation: border-front 5.2s infinite;
      animation-fill-mode: forwards;
      transform: translate3d(0, 0, 15px);
    }
    &.cube-side-back {
      border-image: linear-gradient(to top, #EF4C45, #EB9D5C) 1 3%;
      animation: border-back 5.2s infinite;
      animation-fill-mode: forwards;
      transform: rotateY(180deg) translate3d(0, 0, 15px);
    }
  }
  &.cube-blue .cube-side {
    border-image: linear-gradient(to top, #4F72B8, #00B29A) 1 3%;
    border-top-color: #00B29A;
    &.cube-side-top, 
    &.cube-side-bottom {
      border-image: none;
      border-color: #00B29A;
    }
  }
  &.cube-purple .cube-side {
    border-image: linear-gradient(to top, #4F72B8, #A065AA) 1 3%;
    &.cube-side-top, 
    &.cube-side-bottom {
      border-image: none;
      border-color: #A065AA;
    }
  }
}

.project-card {
  min-height: 11rem;
  max-height: 250px;
  .gatsby-image-wrapper {
    display: block !important;
    width: auto !important;
    height: auto !important;
    min-width: 100% !important;
    min-height: 100% !important;
    max-height: 100% !important;
    border-radius: 8px;
  }
  &:hover {
    .desc {
      color: rgba(#fff, 0.95);
    }
  }
  &:hover .mask {
    .title, .desc {
      transform: translateY(0px);
      opacity: 1;
    }
  }
}

/* Keyframes */
@keyframes flipY {
    0% { transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(0deg) rotatez(0deg); }
    20.25% { transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(90deg) rotatez(0deg); }
    100% { transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(90deg) rotatez(0deg); }
}
@keyframes hoverY {
    0% { transform: translatey(0px); }
    100% { transform: translatey(-10px); }
}
@keyframes border-front {
  0% { border-width: 3px 5px 5px 3px; }
  2.25% { border-width: 3px 5px 5px 3px; }
  5.75% { border-width: 3px 3px 3px 3px; }
  100% { border-width: 3px 3px 3px 3px; }
}
@keyframes border-back {
  0% { border-width: 3px 3px 3px 3px; }
  2.25% { border-width: 3px 3px 3px 3px; }
  5.75% { border-width: 3px 3px 5px 5px; }
  100% { border-width: 3px 3px 5px 5px; }
}
@keyframes border-top {
  0% { border-width: 5px 5px 3px 3px; }
  2.25% { border-width: 5px 5px 3px 3px; }
  5.75% { border-width: 3px 5px 5px 3px; }
  100% { border-width: 3px 5px 5px 3px; }
}
@keyframes border-left {
  0% { border-width: 3px 3px 5px 5px; }
  2.25% { border-width: 3px 3px 5px 5px; }
  5.75% { border-width: 3px 5px 5px 3px; }
  100% { border-width: 3px 5px 5px 3px; }
}
@keyframes line {
  0% { background-position-x: 390px; }
}