@import 'variables';

body {
  font-family: 'Product Sans', 'Titillium Web', sans-serif;
}

#___gatsby {
  height: 100% !important;
  > div {
    height: 100% !important;
  }
  .tl-edges {
    height: 100% !important;
    .tl-wrapper {
      height: 100% !important;
    }
  }
}

.hero {
  top: 0;
}

.accent {
  color:  $accent;
  font-size: 1.1em;
  line-height: 0.7;
}

.accent-text {
  color: $accent;
}

.accent-blue {
  color: $secondary-accent;
}

/* Menu */
.menu .menu-item {
  a {
    color: $text-color;
    transition: all 450ms ease-in-out;
    &:hover {
      color: $accent;
      letter-spacing: 0.5px !important;
    }
  }
}

.nav-wrapper {
  .react-reveal {
    height: 4rem;
  }
  .logo-container {
    .logo-title {
      left: 4.55rem;
      transition: opacity 350ms ease-in-out;
      opacity: 0;
    }
    &:hover .logo-title {
      opacity: 1;
    }
  }
}

svg.logo {
  position: absolute;
  width: 1.35rem;
  height: auto;
  top: 1rem;
  overflow: visible !important;
  path {
    fill: none;
    stroke: rgba(#fff, 0.95);
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 15px;
    box-shadow: -5px -5px 5px #000;
    filter: url(#dropshadow);
    overflow: visible;
    animation-iteration-count: 20;
  }
  .sPath {
    stroke-dasharray: 600;
    stroke-dashoffset: 600;
    animation-delay: 1500ms;
    animation: dash 4s linear forwards 500ms;
  }
}

.typed-cursor {
  font-size: 1.65rem;
  vertical-align: top;
  margin-left: 1px;
}

.code-svg {
  width: 8rem;
  height: 8rem;
  top: 4.5rem;
  right: 0rem;
  @media screen and (min-width: 500px) {
    width: 10rem;
    height: 10rem;
    top: 5.5rem;
    right: 2.5vw;
  }
  @media screen and (min-width: 600px) {
    width: 15.5rem;
    height: 15.5rem;
    top: 5.5rem;
    left: 21.5rem;
  }
  @media screen and (min-width: 700px) {
    width: 16rem;
    height: 16rem;
    top: 5rem;
    left: 26rem;
  }
  @media screen and (min-width: 900px) {
    width: 17rem;
    height: 17rem;
    top: 7rem;
    left: 31rem;
  }
}

.light-bg {
  background: rgba(#fff, 0.985);
  height: auto !important;
  padding-top: 4rem; 
  padding-bottom: 14rem;
  z-index: 9 !important;
  div {
    z-index: 9999999;
  }
}


/* Title Cubes */
.cube {
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  left: -10px;
  top: 10px;
  transform-style: preserve-3D;
  animation: flipY 5.2s infinite;
  .cube-side {
    background: rgba(#000, 0.1);
    transform: rotatex(90deg) translate3d(0, 0, 15px);
    transform-style: preserve-3D;
    border-image: linear-gradient(to top, $cube-red, $cube-orange) 1 3%;
    border: 2px solid $cube-red;
    border-top-color: $cube-orange;
    backface-visibility: hidden;
    &.cube-side-top {
      border-top-width: 4px;
      border-right-width: 4px;
      animation: border-top 5.2s infinite;
      animation-fill-mode: forwards;
      border-image: none;
      border-color: $cube-orange;
    }
    &.cube-side-bottom {
      background: transparent;
      border-image: none;
      border-color: $cube-orange;
    }
    &.cube-side-left {
      border-left-width: 4px;
      border-bottom-width: 4px;
      animation: border-left 5.2s infinite;
      animation-fill-mode: forwards;
      border-image: linear-gradient(to top, $cube-red, $cube-orange) 1 3%;
      transform: rotateY(-90deg) translate3d(0, 0, 15px);
    }
    &.cube-side-right {
      border-image: linear-gradient(to top, $cube-red, $cube-orange) 1 3%;
      transform: rotateY(90deg) translate3d(0, 0, 15px);
    }
    &.cube-side-front {
      border-right-width: 4px;
      border-bottom-width: 4px;
      border-image: linear-gradient(to top, $cube-red, $cube-orange) 1 3%;
      animation: border-front 5.2s infinite;
      animation-fill-mode: forwards;
      transform: translate3d(0, 0, 15px);
    }
    &.cube-side-back {
      border-image: linear-gradient(to top, $cube-red, $cube-orange) 1 3%;
      animation: border-back 5.2s infinite;
      animation-fill-mode: forwards;
      transform: rotateY(180deg) translate3d(0, 0, 15px);
    }
  }
  &.cube-blue .cube-side {
    border-image: linear-gradient(to top, $cube-blue, $cube-green) 1 3%;
    border-top-color: $cube-green;
    &.cube-side-top, 
    &.cube-side-bottom {
      border-image: none;
      border-color: $cube-green;
    }
  }
  &.cube-purple .cube-side {
    border-image: linear-gradient(to top, $cube-blue, $cube-purple) 1 3%;
    &.cube-side-top, 
    &.cube-side-bottom {
      border-image: none;
      border-color: $cube-purple;
    }
  }
}

/* Keyframes */
@keyframes flipY {
    0% { transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(0deg) rotatez(0deg); }
    20.25% { transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(90deg) rotatez(0deg); }
    100% { transform: translateX(-50%) scale3d(1, 1, 1) rotatex(0deg) rotatey(90deg) rotatez(0deg); }
}
@keyframes hoverY {
    0% { transform: translatey(0px); }
    100% { transform: translatey(-10px); }
}
@keyframes border-front {
  0% { border-width: 3px 5px 5px 3px; }
  2.25% { border-width: 3px 5px 5px 3px; }
  5.75% { border-width: 3px 3px 3px 3px; }
  100% { border-width: 3px 3px 3px 3px; }
}
@keyframes border-back {
  0% { border-width: 3px 3px 3px 3px; }
  2.25% { border-width: 3px 3px 3px 3px; }
  5.75% { border-width: 3px 3px 5px 5px; }
  100% { border-width: 3px 3px 5px 5px; }
}
@keyframes border-top {
  0% { border-width: 5px 5px 3px 3px; }
  2.25% { border-width: 5px 5px 3px 3px; }
  5.75% { border-width: 3px 5px 5px 3px; }
  100% { border-width: 3px 5px 5px 3px; }
}
@keyframes border-left {
  0% { border-width: 3px 3px 5px 5px; }
  2.25% { border-width: 3px 3px 5px 5px; }
  5.75% { border-width: 3px 5px 5px 3px; }
  100% { border-width: 3px 5px 5px 3px; }
}
@keyframes line {
  0% { background-position-x: 390px; }
}
@keyframes dash {
  to { stroke-dashoffset: 20; }
}
