/*
* Syntax highlighting styles
*/

$syntax-hue:          280;
$syntax-saturation:    5%;
$syntax-brightness:   15%;

$base:       hsl($syntax-hue, $syntax-saturation, $syntax-brightness);
$text:       hsl($syntax-hue, 9%, 90%);
$light-text: hsl($syntax-hue,  9%, 65%);
$subtle:     darken($text, 35%);
// $subtle:     hsl($syntax-hue, 8%, 43%);
$highlight:  hsl($syntax-hue, 9%, 95%);
$red:        hsl(  2, 55%, 58%);
// $orange:     hsl( 23, 90%, 68%);
$orange:     hsl( 20, 96%, 69%);
$orange:     #fc975c;
// $yellow:     hsl( 40, 98%, 78%);
$yellow:     hsl( 43, 87%, 74%);
$yellow:     #f8d377;
// $green:      hsl(100, 68%, 65%);
$green:      hsl(120, 58%, 70%);
$green:      #6ae16a;
// $blue:       hsl(195, 83%, 73%);
$blue:       hsl(190, 74%, 70%);
$blue:       #3edcf4;
// $purple:     hsl(246, 80%, 80%);
$purple:     hsl(246, 70%, 78%);
$purple:     #9d94eb;
// $magenta:    hsl(350, 93%, 70%);
$magenta:    hsl(350, 85%, 69%);
$magenta:    #fe5d79;
$error:        $red;

code[class*='language-'],
pre[class*='language-'] {
	font-family: 'Source Code Pro', 'Menlo', 'Monaco', 'Consolas', 'Ubuntu Mono', monospace;
	color: $text;
	background: none;
	font-weight: 500;
	line-height: 1.5;
	text-shadow: none;
	text-align: left;
	text-shadow: none;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	white-space: pre;
	tab-size: 4;
	hyphens: none;
}

/* Code blocks */
pre[class*='language-'] {
	padding: 0 1em;
	margin: 0;
	@media (max-width: 600px) {
		padding-left: 0;
	}
}

/* Inline code */
:not(pre) > code[class*='language-'] {
	display: inline;
	background: rgba($base, 0.1);
	color: rgba(#000, 0.85);
	font-size: 0.85em;
	letter-spacing: -0.5px;
	border-radius: 4px;
	margin: 0;
	padding: 0.15em 0.4em;
	white-space: normal;
}

pre[class*='language-'] {
	display: block;
	// white-space: pre;
  // white-space: pre-wrap;
}

pre[class*='language-'],
code[class*='language-'] {
	display: block;
	background-color: $base;
  color: $text;
	font-size: 0.85em;
  letter-spacing: normal;
	line-height: 1.4;
	font-variant-ligatures: normal;
  font-feature-settings: 'calt' 1;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-transform: none;
	// width: 90%;
	border-radius: 8px;
	white-space: pre;
	margin: 0 auto 0 0.75%;
  padding: 1em 1.15em 1.15em 1.15em;
	overflow: hidden;
  overflow-x: auto;
	.token {
		&.entity,
		&.url,
		&.variable,
		&.punctuation {
			color: $text;
		}
		
		&.cdata,
		&.comment,
		&.prolog,
		&.doctype,
		&.plain-text {
			color: $subtle !important;
		}
		
		&.property,
		&.tag,
		&.constant,
		&.symbol,
		&.deleted {
			color: $magenta;
		}
		&.tag {
			&.class-name {
				color: $text;
			}
			&.script {
				color: $text;
				&.punctuation {
					color: $magenta;
				}
			}
		}

		&.boolean,
		&.number,
		&.decorator,
		&.interpolation, {
			color: $purple;
		}

		&.selector,
		&.attr-name,
		&.string,
		&.char,
		&.inserted {
			color: $yellow;
		}

		&.atrule,
		&.builtin,
		&.url-link,
		&.attr-value,
		&.function {
			color: $green;
		}

		&.keyword {
			color: $blue;
		}

		&.regex,
		&.important {
			color: $orange;
		}
		
		&.operator,
		&.keyword-if {
			color: $magenta;
		}

		&.important,
		&.operator .ow,
		&.bold {
			font-weight: bold;
		}
		&.italic {
			font-style: italic;
		}

		&.entity {
			cursor: help;
		}
	}
	.nd {
		color: $purple;
	}
}

.language-css .token.string,
.style .token.string {
	color: $text;
}

.language-bash {
	.token.function {
		color: $blue !important;
	}
	.nt {
		color: $orange;
	}
	.nv {
		color: darken($text, 20%);
	}
}

.language-jsx {
	.token {
		&.punctuation,
		&.function-variable {
			color: $text  !important;
		}
		&.keyword,
		&.tag.punctuation {
			color: $magenta !important;
		}
		&.attr-name {
			color: $blue !important;
		}
		&.script.punctuation,
		&.interpolation-punctuation {
			color: $red !important;
		}
	}
}

.namespace {
	opacity: 0.7;
}


pre[data-line] {
	position: relative;
	padding: 1em 0 1em 3em;
}

.line-highlight {
	position: absolute;
	background: hsla(24, 20%, 50%,.08);
	background: linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0));
	line-height: inherit;
	left: 0;
	right: 0;
	padding: inherit 0;
	margin-top: 1em; /* Same as .prism’s padding-top */
	pointer-events: none;
	white-space: pre;
	&:before, &:after {
		content: none;
	}
}

.line-highlight:before,
.line-highlight[data-end]:after {
	content: attr(data-start);
	position: absolute;
	background-color: hsla(24, 20%, 50%,.4);
	color: hsl(24, 20%, 95%);
	font: bold 65%/1.5 sans-serif;
	text-align: center;
	text-shadow: none;
	top: 0.4em;
	left: 0.6em;
	min-width: 1em;
	border-radius: 999px;
	vertical-align: 0.3em;
	box-shadow: 0 1px white;
	padding: 0 0.5em;
}

.line-highlight[data-end]:after {
	content: attr(data-end);
	top: auto;
	bottom: 0.4em;
}

.token a {
	color: inherit;
}

.token.string a {
	color: $yellow;
}

.token.string .se {
	color: $purple;
}

.command-line-prompt {
	display: block;
	font-size: 100%;
	letter-spacing: -1px;
	border-right: 1px solid #999;
	float: left;
	margin-right: 1em;
	pointer-events: none;
	user-select: none;
	> span:before {
		color: #999;
		content: ' ';
		display: block;
		padding-right: 0.8em;
	}
	> span[data-user]:before {
		content: '[' attr(data-user) '@' attr(data-host) '] $';
	}
	> span[data-prompt]:before {
		content: attr(data-prompt);
	}
	> span[data-user='root']:before {
		content: '[' attr(data-user) '@' attr(data-host) '] #';
	}
}
